
/* first    */

    



  div {
    background: red;
      border-bottom-width: 55px;
      padding-bottom: 60px;
      border-bottom-style: solid;
     border-color:green;
    
  }
  
  body  {
      border-top: 50px  solid blue;
      margin:0px;
    }


    