

body{
    font-family: 'Poppins', sans-serif;
}

.box{
    
    
    color: black;

}


.box-container {
    margin: 0px auto;
    max-width: 1349px;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.box-name{
   
    width: 100px;
    align-items: center;
    padding: 0px 10px;
   
}
.box-name span{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: black;
    
}
    
 .box-menu{
    width: 1000px;
    align-items: center;
    margin: 15px;
    justify-content: space-between;
}



 .box-menu-mobile li a{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    padding: 15px;
 }
.box-menu-mobile {
    display: none;
}

.box-menu-mobile .underline {
    display: none;
}

.box-menu-mobile:hover .underline {
    display: block;
}



/* box-menu-main  style  */


    .box-menu-main li a{
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600;
        padding: 15px;
       
    }
   
.underline:hover{
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width:  3px;
    width: fit-content;
    border-color: #f5df4e;
    
   }

.underline{
 
 transition: border;
  transition-delay: 0.5s;
  transition-timing-function: ease-in;
  
 
}

/* box-menu-main style end*/


.box-menu-social {
    width: 100px;
    justify-content: space-between;
    font-size: larger;
}

.box-menu-social i{
    padding: 10px;
  }
      
 .box-menu-social i:hover{
     font-size: 25px;
   
 }
    
 /*  second section style start  */
.slider{
    height: 600px;
    background-image: url(/project.images/intro-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: center center;
    max-width: 1349px;
   
   

}
    
.slider-back{
    background: rgb(0, 0, 0, 0.6) ;
    width: 100%;
    height: inherit;
    position: absolute;

    }

.container{
    width: 100%;
    margin: 0px auto;
   
}

.container-base{
   
    margin: 0px 220px;
    margin-top: 120px;

}

h1{
    color: white;
    text-transform: uppercase;
    margin: 0px 300px;
    font-weight: 500;
    font-size: 40px;
}

h2{
    margin:0px  220px;
    color: white;
    font-weight: 600;
    font-size: 120px;
    text-transform: uppercase;
}

.container-base p{
    color: aliceblue;
    font-weight: 400;
    font-size: large;
    margin-right: 100px;
    display: flex;
    justify-content: center;
}
.view-works{

    margin: 60px 380px;
    text-transform: capitalize;
    padding: 20px 50px;
    background-color: #f5df4e;
    cursor: pointer;
    
}

.view-works:hover {
    background-color: #f1d520;
}

.color-setting{
    
    justify-content: flex-end;
    
}

.color-setting button i { 
font-size: 20px;

}

/* second section end */

/* third section style start */

.main-nav {}

.main-navbar{
    max-width: 1200px;
    margin: 0px auto;
}


.main-nav-content{
    max-width: 1100px;
    margin: 0px auto;
    display: inline-block;
    height: 500px;
    flex-direction: column;

}

.main-nav-item{
    width: 50%;
    height: 20%;
    margin: 0px auto;
    padding-top: 50px;


   

}


 .main-nav-item2{
   height: 400px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
 }
 .main-nav-item2 h3{
    justify-content: flex-end;
}

/* main-nav-experience style */

.main-nav-experience{
    width: 320px;
    height: 240px;
}



.main-nav-experience span{
    color: black;
    margin-right: 100px;
   
   
    font-size: 140px;
    position: relative;
    z-index: 2;
    
}

p3{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    margin: 0px;
}

.background-color{
    background: #f5df4d;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 60px;
    position: absolute;
    z-index: 1;

}




.main-nav-about{

    width: 65%;
    height: 250px;
}

h3{
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 500;
}

p2{
    font-size: larger;
    font-weight: 400;
    
}

.main-nav-about strong{
    border-bottom: #f5df4d;
    padding-bottom: 5px;
    border-bottom-style: solid;
}




.main-nav-detail{

    margin-top: 136px;
    justify-content: space-between;
    
}

.main-nav-detail :nth-child(1) {
    color: rgb(130, 127, 127);
}
    
/* third section complete*/ 

/* fourth section start*/

.servives {
    height: 950;
    background-color:#f1f1f1 ;
}


.services-container{
 max-width: 1349px;
 height: 860px;
 margin: 0px auto;}


.service-header{
width: 70%;
 height: 20%;
 margin: 0px auto;
 padding-top: 60px;
 text-transform: capitalize;

}



.service-content{
    width: 1050px;
    height: 300px;
    margin-left: 40px;
}


.service-content-item{
    width: calc(100%/3);
   
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    align-items: center;
}

.service-content-item i{
    font-size: 60px;
    color: #f5df4d;
    padding: 20px;
}

.service-content-item p{
    font-size: 14px;
    padding: 20px;
    color: gray;
    margin: 0px;
}

.service-content-item h{
    font-size: x-large;
    font-weight: 600;
    text-transform: capitalize;
    color: black;
}

/*  fifth section style */

.resume{
    height: 1400px;

}

.resume-container{
    max-width: 1349px;



}

.resume-content{
    width: 1050px;
    height: 900px;
    margin: 0px auto;


    
}

.education-column, .experience-column{
    width: calc(100%/2);
    margin-top: 40px;
    height: 700px;
    border-left: 2px solid #e7bc11;
    padding-left: 15px;
}

.education-column, .experience-column h4{
    font-weight: 600;
    font-size: xx-large;
}

.education-column {
    margin-right: 80px;
}

.edu-row :nth-child(1) {
    font-size: x-large;
    font-weight: 500;
    margin: 0px;
}
   
.edu-row :nth-child(2) {
font-weight: 400;
font-size: medium;


}

.edu-row :nth-child(3) {
    font-size: 17px;
    color: gray;
    margin: 0px;
    font-weight: 400;
}

.progress-bar{
   
    margin: 0px 142px;
    margin-top: -76px;
}

.progress-bar :nth-child(1) {
    margin-right: 60px;
    
}

.progress-item{
    width: calc(100%/2);
    height: 280px;
    font-weight: 500;
}

.item-detail{
    width: 520px;
    background-color: rgb(168, 168, 168);
    border-radius: 16px;
    box-sizing: inherit;

}

.round{
    border-radius: 16px;
    background-color: #f5df4d;
    box-sizing: inherit;
    height: 10px;

}
   
.progress-item p{
   
    margin-right: 20px;

}
.progress-item h{
    font-weight: 600;
    font-size: xx-large;
}

.block{
    height: 90px;
   
}

.block-button{
    width: 180px;
    background-color: white;
    border: 1px solid black;
    margin-top: 30px;
}

.block-button button{
    width: inherit;
    font-size: 17px;
    font-weight: 500;
}

.block-button  :hover{
    background-color: black;
    color: white;
    transition: background-color 1s ease;
}
/* fifth section completed */

/* fifth section style*/


.portfolio {
    height: 1650px;
}


.portfolio-container{
    max-width: 1349px;
    height: 1200px;
}
.projects-container{
    height: 1200px;

}

.project-intro{
    height: 80px;
   

}

.project-menu{ 
}

.project-menu ul{
    
    align-items: center;
    color: gray;
    font-weight: 500;
}

.menu-items li :hover{
    color: black;
    cursor: pointer;
}
   



.project-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 340px  340px;
    margin: 0 auto;
    gap: 20px;
    margin-top: 30px;

}

.project-content-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    
}
.project-content-item {
    position: relative;
}



.image-hover{
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 72%);
    position: absolute;
    cursor: pointer;
    opacity: 0;
    top: 0;
    left: 0;
    transition: all .1s ease;
    
}

.img-detail {
    display: flex;
    justify-content: center;
    height: 200px;
    padding-top: 100px;
    flex-direction: column;
}
.img-detail .icon {
  
    margin: 0px auto;
    font-size: xx-large;
    padding-bottom: 10px;
}

.img-head {
    margin: 0px auto;

}
.img-head h {
    font-size: x-large;
    font-weight: 500;

}

.img-head p {
    padding-left: 58px;
    font-size: larger;
}

.project-content-item:hover .img-head p,h{
    color: white;
}

.project-content-item:hover .img-detail i{
    color: #f5df4d;
}



.project-content-item:hover .image-hover{
    opacity: 1;
    transition: all 4s ease;
    display: block;
}



.container-img {
    background-image: url(/project.images/intro-bg-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: center center;
    height: 500px;
    margin-top: 80px;
    
}

.img-top {
    

    background: rgb(0 0 0 / 72%)  ;
    width: 1341px;
    height: inherit;
    position: absolute;
    

}
.img-content {
    height: 200px;
    margin: 0px auto;
    margin-top: 200px;
}

.img-content-item h{
    color: white;
    font-weight: 600;
    margin: 0px;
    font-size: xx-large;
    font-size: 40px;
}

.img-button {}

.img-button .hire {
    height: 55px;
    width: 160px;
    
    
    background-color: #f5df4d;
}

.img-button button{
    border: 0px;
     background-color: #f5df4d;
}

 /*seventh section start*/

.faq{
    height: 1000px;
}

.faq-container{
    height: 900px;
    max-width: 1349px;
    
}


.faq-content{
    height: 800px;
    margin-right: 80px;
}


.faq-header p {   
    width: 64px;
    background-color: #f5df4d;
    color: black;
}

.faq-header :nth-child(2) {
    font-weight: 600;
    color: #363434;
    font-size: 40px;
}


.quest-card{
    height: 40px;
   
}

.question-list {
    color: #363434;
}



.main-quest {
    margin-left: 20px;
}

.main-quest :nth-child(1) {
    color: #363434;
}


.reply {
    height: 100px;
    margin-left: 30px;
}

.quest-card .reply p{
    width: inherit;
}


.faq-light{
    
    margin-top: 200px;
}

.question-list :nth-child(2) {
    height: 390;
}

/* eighth section style*/

.client{
    background-color: #939597 !important;
    height: 600px;
    width: 100%;

}

.client-container{
    height: inherit;
    max-width: 1349px;

}


.client-content{
    height: 400px;
    margin: 0px auto;
    width: 1000px;
   
}


.client-letter{
    height: 300px;
    width: 900px;
    margin: 0px auto;
    flex-direction: column;

}

.client-letter p {
    font-size: larger;
    margin: 0px 150px;
    color: whitesmoke;
    margin-top: 80px;
}


.owner-info{
    height: 100px;
    width: 200px;
    margin: 0px auto;
    margin-top: 20px;
}

.owner-info h6,span {
    margin: 0px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: medium;
}


.owner-img{
   
    margin: 0px auto;
    width: 100px;
    height: 100px;


}

.owner-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;

}

.controls {
    
    opacity: 0;
    width: 100%;

}

.controls button {
    background: #c5c5c5;
    border: none;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    color: white;
    margin: 0px auto;
    background-color: rgb(161, 157, 157);
    cursor: pointer;
    
 
}

.controls:hover{
    opacity: 1;
}

.controls i{
    font-size: large;
}

/* contact style  start*/

.contact{
    background-color: #f5df4d;


}
 
.contact-container{
    max-width: 1349px;
}



.main-content{
    width: calc((100%/12)*5);
    padding-top: 60px;
    margin-left: 115px;

}

.main-content h2{
    margin: 0px;
    color: black;
    text-transform: lowercase;
    font-size: xx-large;
}

.main-content :nth-child(2) {
    font-weight: 300;
    font-size: x-large;

}

.main-content h6{
    margin: 0px;
    font-size: larger;

}

.contact-info {
    margin-top: 50px;
    }

.contact-info i{
    margin-left: 20px;
    font-size: x-large;
    color: #363434;
}


.contact-form{
    width: calc((100%/12)*5);
    padding-left: 70px;
    padding-top: 60px;

}

.contact-form h2{
    margin: 0px;
    color: black;
    text-transform: capitalize;
    font-size: xx-large;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    background-color: #f5df4d;
    line-height: 41px;
    font-size: larger;

  }

  input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    background-color: #f5df4d;
    line-height: 41px;
    font-size: larger;
  }

  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #f5df4d;
    font-size: 16px;
    resize: none;
    border-bottom: 1px solid black;
  }
 
  button[type=send] {

    background-color: black;
    padding: 12px 0px;
    color: white;
    font-size: larger;
    margin-bottom: 20px;
    width: 118px;
    
  }

  .form button i{
      margin-left: 17px;
    
  }

  button[type=send] i{
      margin-left: 17px;
  }


/*contact style end*/



/* foter style start*/

.footer {
    background-color: black;
    height: 150px;
}

.footer-content {
    color: white;
    margin: 0px 50px;
    
}

.footer p{
    margin-top: 50px;
    
}